<%= content_for :title, "Home | " %>

<div class='home'>
  <h1 class='home_title'>Blog App <span>by <a href='https://github.com/Timbar09/' target='_blank'>Miles</a></span></h1>
  <p class='home_description'>A simple blog app built with Ruby on Rails.</p>
</div>