<%= content_for :title, "Home | " %>

<div class='home'>
  <h1 class='home_title'>Blogister <span>by <a href='https://github.com/Timbar09/' target='_blank'>Miles</a></span></h1>
  <p class='home_description'>
    This is a fully operational web application that displays a list of posts that users can read and interact with by adding comments and liking them. It is an ideal platform for bloggers who want to share their thoughts, ideas, and experiences with their readers.
  </p>
</div>