<ul>
  <% if @users.empty? %>
    <p class="user_empty-message">No users yet!</p>
  <% else %>
    <% @users.each do |user| %>
      <%= render 'shared/user_card', user: user %>
    <% end %>
  <% end %>
</ul>