<div class='comment_card'>
  <div class='comment_photo'>
    <% if comment.author.photo.present? && comment.author.photo.match(/.(jpg|jpeg|png|gif)$/i) %>
      <%= image_tag(comment.author.photo, alt: comment.author.name, class: 'comment_photo_image') %>
    <% else %>
      <%= image_tag('default_user.jpg', alt: comment.author.name, class: 'comment_photo_image') %>
    <% end %>
  </div>

  <div class='comment_text'>
    <p><%= link_to comment.author.name, user_path(comment.author), class: 'comment_author' %></p>
    <p><%= comment.text %></p>
  </div>
</div>